.ex-1-square {
  transition: all 3s;
}
.ex-1-square:hover {
  background: red;
}

.ex-2-square {
  transition: all 5s;
}
.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
  transition: all 2s;
}
.ex-3-square:hover {
  border-radius: 50%;
}

.ex-4-square {
  transition: 2s;
}

.ex-4-square:hover {
  background-color: transparent;
}

.ex-5-square {
  transition: all 0.5s;
}
.ex-5-square:hover {
  transform: scale(1.8, 1.8);
}
.ex-5-square:active {
  transform: scale(0.5, 0.5);
}

.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-7-img {
  transition: all 1s;
}
.ex-7-img:hover {
  filter: grayscale(1) drop-shadow(5px -4px 2px lightgrey) contrast(0.5);
}

.ex-8-img {
  transition: all 1s;
}
.ex-8-img:hover {
  filter: drop-shadow(5px -4px 2px purple) opacity(70%);
  border-radius: 20px;
}

.ex-9-img {
  transition: all 1s;
}
.ex-9-img:hover {
  filter: grayscale(0.6) drop-shadow(5px -4px 2px blue);
  transform: scale(1.4, 1.4);
  border-radius: 10px;
}

.ex-10-icon {
  position: relative;
  animation-name: roll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes roll {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(90deg);}
  50%  {transform: rotate(180deg);}
  75%  {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

.ex-11-icon {
  position: relative;
  animation-name: ruot;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-fill-mode: backwards;
}
.ex-11-icon:hover {
  animation-play-state: running;

}
@keyframes ruot {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(0deg)}
}



.ex-12-top-white {
  transition: left 1s;
}
.ex-12-bottom-white {
  transition: right 1s;
}

.ex-12-button:hover .ex-12-top-white {
  left: 50%;
}
.ex-12-button:hover .ex-12-bottom-white {
  right: 60%;
}

.ex-13-top-white {
  animation: giro 2s linear infinite;
}
.ex-13-bottom-white {
  animation: giro-2 2s linear infinite;
}
@keyframes giro {
  0% {top:-10px; left:10%;}
  20% {top:-10px; left:90%;}
  40% {top:60px; left:90%;}
  60% {top:60px; left:-5%;}
  80% {top:-10px; left:-5%;}
  100% {top:-10px; left:10%;}
}
@keyframes giro-2 {
  0% {bottom:-10px; right:20%;}
  20% {bottom:-10px; right:80%;}
  40% {bottom:50px; right:80%;}
  60% {bottom:50px; right:-5%;}
  80% {bottom:-10px; right:-5%;}
  100% {bottom:-10px; right:20%;}
}
